# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\škola\bakalarka\clauses_generator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
